{
    "ignore": [
      "node_modules"
    ],
    "plugins": [
      "add-module-exports",
      "transform-class-properties",
      "transform-object-rest-spread",
      [
        "transform-async-to-module-method", {
          "module": "bluebird",
          "method": "coroutine"
        }
      ],
      [
        "transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }
      ]
    ]
  }